@page
@model SpikeProjPR.Pages.Beekeepers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Beekeeper[0].BeekeeperName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beekeeper[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beekeeper[0].ProfilePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beekeeper[0].ApiaryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beekeeper[0].ContactInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Beekeeper) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeekeeperName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfilePicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApiaryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInfo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BeekeeperId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BeekeeperId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BeekeeperId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
